<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Style.css">
    <title>Autenticar</title>
</head>
<body>
    
    <main class="container">

        <h2> Login </h2>
        <form action="">

    

        <div class="input-field">
        

            <input type="text" name="username" placeholder="Email ou nome de Usuario" id="username" >

            <div class="underline"></div>
            
        </div>

        <div class="input-field">
            <input type="password" name="password" placeholder="Digite sua senha" id="password">
            <div class="underline"></div>
        </div>

        <input type="submit" value="acessar">
         

    </form>
    </main>



  
</body>
</html>