<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Style.css">
    <title>Autenticar</title>
</head>
<body>

    <main class="container">

        <h2> Login </h2>
        <form action="">

    

        <div class="input-field">
        

            <input type="text" name="username" placeholder="Email ou nome de Usuario" id="username" >

            <div class="underline"></div>
            
        </div>

        <div class="input-field">
            <input type="password" name="password" placeholder="Digite sua senha" id="password">
            <div class="underline"></div>
        </div>
         <!-- Link para a tela de recuperar a senha de usuário -->
        <input type="submit" value="acessar">
        <a href="reset_password.html" class="forgot-password"> Esqueceu a senha ? </a>

        <!-- Link para a tela de cadastro de usuário -->
        <a href="register.html" class="sign-up">Cadastre-se</a>
         

    </form>
    </main>



  
</body>
</html>