<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>redefinir Senha</title>
</head>
<body>
<main class="container">


    <h2>Redefinir Senha</h2>

  <form action="/reset_password" method="post">

    <div class="input-field">
        <input type="password" name="new_password" placeholder="Nova senha" id="new_password" required>
        <div class="underline"></div>

    </div>

     <div class="input-field">
      <input type="password" name="confirm_password" placeholder="Confirme a Nova Senha" id="confirm_password" required>
     </div>


     <input type="submit" value="Redefinir Senha">
  </form>

</main>
    
</body>
</html>